body {
    background-color: #f6f6f6;
}

.main {
    padding-top: 1.5rem;
    padding-bottom: 10rem;
}

.breadcrumb {
    border-bottom: 2px solid var(--color-white);
    padding-bottom: 1.25rem;
    margin-bottom: 1.5rem;
}

/* company head */
.company__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.company__title {
    font-family: var(--t2-font-family);
    font-size: var(--t2-font-size);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.company__title span {
    font-family: var(--t3-font-family);
    font-size: var(--t3-font-size);
    font-weight: 500;
    margin-right: 1rem;
}

.company__search-box {
    width: 31.5rem;
}

.company__search-box input {
    border-color: var(--color-gray-400);
    padding-right: 3.9rem;
}

.company__search-box svg {

}

.company__search-box .input-icon {
    width: 24px;
    height: 24px;
    right: 24px;
}

.company__filter-btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 2.5rem;
    border-radius: var(--app-border-radius);
    background-color: var(--color-gray-200);
    font-size: var(--t7-font-size);
    font-family: var(--t7-font-family);
    flex-shrink: 0;
}

.company__filter-btn svg {
    margin-right: 0.5rem;
}
/* company middle */

.company__middle{

}
.company__banner{
    position: relative;
    margin-bottom: 2rem;
    height: 420px;
}
.company__img{
    border-radius: var(--app-border-radius);
    height: 100%;
    object-fit: cover;
}
.company__logo{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background-color: var(--color-gray-400);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1rem solid var(--color-gray-200);
    position: absolute;
    bottom: -7rem;
    right: 88px;
}
.company__detail{
    margin-right: 329px;
    display: flex;
    justify-content: space-between;
}
.company__detail-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.company__wrapper{
    display: flex;
    gap: 3rem;
}

.company__information{
    display: flex;
    gap: 1rem;
    margin-top: 80px;
}
.company__data{
    flex-grow: 1;
}
.company__phone-numbers{
    display: none;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}
.company__phone-numbers a{
    background-color: var(--color-gray-200);
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: var(--t4-font-size);
    font-family: var(--t4-font-family);
    height: 3rem;
    flex-grow: 1;
    border-radius: var(--app-border-radius);
}
.company__description{
    font-size: var(--t5-font-size);
    font-family: var(--t5-font-family);
    color: var(--color-black-200);
    margin-bottom: 1.5rem;
    line-height: 27px;
}
.company__social{
    display: flex;
    align-items: center;
    gap: 1rem;
    direction: ltr;
}
.company__social-item{
    background-color: var(--color-white);
    border-radius: var(--app-border-radius);
    font-size: var(--t5-font-size);
    font-family: var(--t5-font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 4.5rem;
    direction: ltr;
    color: var(--color-black);
    width: 12rem;
    flex-grow: 0;
}
.company__social-item:first-child{
    width: 18.5rem;
}
.company__map{
    width: 504px;
    height: 230px;
    background-image: url("../img/map-frame.png");
    border-radius: var(--app-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.company__map-btn{
    font-size: var(--t4-font-size);
    font-family: var(--t4-font-family);
}
.company__footer{
    margin-top: 90px;
}
.company__footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.company__ads-name{
    font-size: var(--t2-font-size);
    font-family: var(--t2-font-family);
}












@media screen and (max-width: 1400px) {
    .advert {
        flex-grow: 1;
        max-width: 366px;
    }
    .company__logo {
        width: 12rem;
        height: 12rem;
        bottom: -6rem;
        right: 60px;
    }
    .company__detail {
        margin-right: 290px;
    }
    .company__social-item{
        flex-grow: 1;
        width: auto;
    }
    .company__social-item:first-child{
        width: auto;
    }
}
@media screen and (max-width: 1200px) {
    .company__logo {
        width: 9rem;
        height: 9rem;
        bottom: -5rem;
        right: 35px;
        border-width: 0.8rem;
    }
    .company__logo svg{
        width: 72px;
        height: 72px;
    }
    .company__detail {
        margin-right: 200px;
    }
    .company__wrapper{
        gap: 2rem;
    }
    .company__information{
        margin-top: 60px;
    }
    .company__social{
        flex-wrap: wrap;
    }

    .company__serach-box {
        width: 28rem;
    }
    .advert {
        max-width: 306px;
    }
}

@media screen and (max-width: 992px) {
    .company__serach-box {
        width: 26rem;
    }
    .company__wrapper{
        display: block;
    }
    .company__logo {
        width: 100px;
        height: 100px;
        bottom: -3rem;
        border-width: 6px;
    }
    .company__logo svg{
        width: 40px;
        height: 40px;
    }
    .company__detail {
        margin-right: 145px;
    }
    .company__map{
        width: 340px;
    }
    .advert {
        width: 351px;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body{
        background-color: var(--color-white);
    }
    .header{
        background-color: var(--color-gray-200);
    }
    .company__search-box {
        display: none;
    }
    .company__title{
        font-size: var(--t5-font-size);
        font-family: var(--t5-font-family);
    }
    .company__title span{
        font-size: var(--t7-font-size);
        font-family: var(--t7-font-family);
        color: var(--color-gray-600);
        margin-right: 4px;
    }
    .company__banner{
        height: 217px;
        margin-bottom: 10px;
    }

    .company__logo {
        width: 88px;
        height: 88px;
        bottom: -3.4rem;
        border-width: 6px;
        right: 2rem;
        border-color: var(--color-white);
        background-color: var(--color-gray-200);
    }
    .company__phone-numbers{
        display: flex;
    }
    .company__detail {
        margin-right: 128px;
    }
    .company__detail-item{
        color: var(--color-black-200);
        font-size: var(--t7-font-size);
        font-family: var(--t7-font-family);
    }
    .breadcrumb,
    .company__wrapper,
    .company__detail-item svg{
        display: none;
    }
    .company__information{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .company__map{
        height: 144px;
        width: 100%;
    }
    .company__map-btn{
        background-color: rgba(0, 122, 255, 0.72);
        font-size: var(--t6-font-size);
        font-family: var(--t6-font-family);
        height: 3rem;
        padding: 0 1.5rem;
    }
    .company__social{
        gap: 0.5rem;
    }
    .company__social-item{
        height: 3rem;
        background-color: var(--color-gray-200);
        flex-grow: 1;
        width: 48%;
    }
    .company__social-item:first-child{
        width: 100%;
    }
    .company__ads-name{
        font-size: var(--t5-font-size);
        font-family: var(--t5-font-family);
    }
    .company__footer{
        margin-top: 2rem;
    }
    .company__footer-wrapper{
        margin-bottom: 1rem;
    }
    .advert {
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
    }
}

@media screen and (max-width: 576px) {
    body {
        background-color: #fff;
    }

    .advert {
        padding: 0;
    }
}


@media screen and (max-width: 380px) {
    .company__social-item{
        width: 100%;
    }
}
