body {
    background-color: #f6f6f6;
}

.main {
    padding-top: 1.5rem;
    padding-bottom: 10rem;
}

.breadcrumb {
    border-bottom: 2px solid var(--color-white);
    padding-bottom: 1.25rem;
    margin-bottom: 1.5rem;
}

/* -- dashboard section -- */
.dashboard{
    display: flex;
    /*align-items: start;*/
    gap: 1rem;
}
/* -- sidebar -- */

.sidebar{
    border-radius: var(--app-border-radius);
    background-color: var(--color-white);
    padding: 1.5rem;
    width: 18.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar__menu{

}
.sidebar__item{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--t5-font-family);
    font-size: var(--t5-font-size);
    cursor: pointer;
    user-select: none;
}
.sidebar__item--active{
    border-radius: 14px;
    background-color: var(--color-gray-200);

}
.sidebar__badge{
    border-radius: 0.5rem;
    background-color: #EF3838;
    padding: 0 7px;
    color: var(--color-white);
    font-family: var(--t6-font-family);
    font-size: var(--t6-font-size);
    margin-right: auto;
    display: block;
}
.dashboard__logout{
    color: var(--color-gray-600);
    padding: 1.2rem 1.5rem;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--t5-font-family);
    font-size: var(--t5-font-size);
    cursor: pointer;
    /*margin-top: 1.5rem;*/
}


/* -- content -- */

.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}
.dashboard__top{
    display: flex;
    gap: 1rem;
    /*width: 100%;*/

}
.dashboard__welcome{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-shrink: 0;
    padding: 0 3.6rem;
    border-radius: var(--app-border-radius);
    font-family: var(--t2-font-family);
    font-size: var(--t2-font-size);
}
.dashboard__user-phone{
    font-family: "DanaEnNum UltraBold",sans-serif;
    font-size: 1.5rem;
}
.dashboard__search-box{

}
.dashboard__search-box .form-control{
    border-color: var(--color-gray-400);
    padding-right: 4.5rem;
}
.dashboard__search-box .input-icon{
    width: 1.5rem;
    height: 1.5rem;
    right: 2rem;
}




.ladder{
    background-color: var(--color-white);
    border-radius: var(--app-border-radius);
    display: flex;
    overflow: hidden;
    width: 38rem;
    position: relative;
}
.ladder__right{
    background: rgba(255, 149, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem 0 1.5rem;
    flex-shrink: 0;
    position: relative;
    backdrop-filter: blur(80px);
    z-index: 100;

}
.ladder::after,
.ladder::before{
    content: "";
    position: absolute;
    width: 52px;
    height: 103px;
    border-radius: 5rem;
    background-color: var(--color-orange-400);
    display: block;
}
.ladder::after{
    right: 0;
    bottom: 1.5rem;
}
.ladder::before{
    top: 1.6rem;
    left:50%;
}

.ladder__logo{
    display: block;
    margin-bottom: 20px;
}
.ladder__value{
    font-family: var(--t1-font-family);
    font-size: 40px;
}
.ladder__text{
    font-family: var(--t2-font-family);
    font-size: var(--t2-font-size);
    color: var(--color-orange-600);
}
.ladder__left{
    padding: 2rem 3.75rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

}
.ladder__title{
    font-family: var(--t2-font-family);
    font-size: var(--t2-font-size);
}
.ladder__links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.ladder__link{
    padding: 0;
}

.history{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}
.history__item{
    background-color: var(--color-white);
    border-radius: var(--app-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
}
.history__text{
    font-family: var(--t5-font-family);
    font-size: var(--t5-font-size);
    color: var(--color-black-300);
}




.card__row{
    display: flex;
    gap: 1rem;
}
.card{
    background-color: var(--color-white);
    border-radius: var(--app-border-radius);
    padding: 0.5rem;
    flex-grow: 1;
    width: 18.5rem;
}
.card__banner{
    background-color: #E7F2FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    min-height: 221px;
}
.card__logo{

}
.card__title{
    font-family: var(--t2-font-family);
    font-size: var(--t2-font-size);
    margin-bottom: 0.5rem;
    text-align: center;
    margin-top: 3.6rem;
}
.card__value{
    display: block;
    text-align: center;
    font-family: var(--t5-font-family);
    font-size: var(--t5-font-size);
    color: var(--color-black-200);
    margin-bottom: 3.6rem;
}
