.plan__page__header {
    justify-content: space-between;
    align-items: flex-start;
}

.pay__btn {
    margin-top: 44px;
}

@media screen and (max-width: 1399px) {
    .plan__item {
        width: auto !important;
        flex-grow: 2;
    }

    .plan__text {
        flex-grow: 1;
    }
}

.plan__text {
    margin-top: 0.5rem;
    cursor: auto !important;
}

.plan__text .plan__header {
    background: transparent !important;
}

.plan__text .plan__facilities {
    background: transparent !important;
}

.plan__text .plan__facilities p {
    font-size: var(--t4-font-size);
    font-family: var(--t4-font-family);
    font-weight: 800;
    text-align: right;
    color: var(--color-black);
    letter-spacing: -0.02em;
    line-height: 25px;
    padding-top: 14px;
    padding-bottom: 12px;
}

.plan__item.active .plan__facilities {
    border: 2px solid var(--color-blue);
}

.plan__item.active .plan__header {
    background: var(--color-blue);
    color: var(--color-white);
}

.plan__item .plan__header svg {
    position: absolute;
    left: 1rem;
    top: 20px;
}

.plan__item.active .plan__header h4 {
    color: var(--color-white) !important;
}

.plan__item {
    width: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease 0.2s;
    position: relative;

}

.plan__item:hover {
    filter: drop-shadow(0px 24px 32px rgba(0, 0, 0, 0.08));
}

.plan__item .plan__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-gray-300);
    border-radius: 20px 20px 0px 0px;
    height: 111px;
}

.plan__item .plan__header h4 {
    font-size: var(--t2-font-size);
    font-family: var(--t2-font-family);
    line-height: 32px;
    font-weight: 800;
    color: var(--color-black);
}

.plan__item .plan__header p {
    font-size: var(--t3-font-size);
    font-family: var(--t3-font-family);
    line-height: 180%;
    font-weight: 500;
    color: var(--color-black-200);
    background: var(--color-gray-200);
    width: 87%;
    margin: 0.5rem;
    text-align: center !important;
    border-radius: 8px;
}

.plan__facilities {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 0px 0px 20px 20px;
}

.plan__facilities p {
    border-bottom: 1px solid var(--color-gray-300);
    width: 100%;
    padding: 13px;
    padding-bottom: 4px;
    height: 51px;
}

.plan__facilities p:last-child {
    border: none !important;
}
.mobile__plan button {
    width: 184px;
    height: 48px;
  }
  .mobile__plan__body li {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .mobile__plan__body li label:last-child {
    color: var(--color-black-200);
  }
  .mobile__plan__body li label {
    font-family: var(--t6-font-family);
    font-size: var(--t6-font-size);
    font-weight: 500;
    color: var(--color-black);
    text-align: right;
  }
  .mobile__plan__body li.disable label {
    color: var(--color-gray-500) !important;
  }
  .mobile__plan__body li.disable::before {
    background-color: var(--color-error) !important;
  }
  .mobile__plan__body li::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 3px;
    transform: rotate(45deg);
    background-color: var(--color-green);
  }
  .mobile__plan.active .mobile__plan__body {
    display: block;
  }
  .mobile__plan.active .mobile__plan__header {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--color-gray-200);
    border-radius: 3px;
  }
  .mobile__plan.active {
    background: transparent !important;
  }
  .mobile__plan__body {
    margin-top: 1.5rem;
    display: none;
  }
  .mobile__plan__body li label:first-child {
    margin-right: 1rem;
  }
  .mobile__plan {
    border: 2px solid var(--color-gray-200);
    padding: 20px 24px;
    background: var(--color-gray-200);
    border-radius: 1rem;
    margin-top: 1rem;
  }
  .mobile__plan .mobile__plan__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile__plan__header h2 {
    font-weight: 800;
  }
  .mobile__plan__header label {
    padding: 6px 24px;
    border-radius: 1rem;
  }