[data-theme="dark"] {
    /* --color-gray-200: #85858F !important; */
    --color-gray-200: #85858F !important;
    --color-gray-300: #606066 !important;
    --color-gray-400: #434347 !important;
    --color-gray-500: #2B2B2E !important;
    --color-gray-600: #ABADB3 !important;
    --color-white: #0F0F10 !important;
    --color-dark-black-600: #1d1d1f;

    
    --color-black-200: #F7F7F7 !important;
    --color-black-300: #F0EFEF !important;
    --color-black-400: #DCDDE0 !important;
    --color-black-500: #C6C7CC !important;
    --color-black-600: #ABADB3 !important;
    --color-black: #FFFFFF !important;
    --body-text-color: var(--color-black) !important;
    --body-bg-color: #1D1D1F !important;
}

[data-theme="dark"] .header {
    background-color: var(--color-white) !important;
}

[data-theme="dark"] .sidebar {
    background-color: var(--body-bg-color) !important;
}


[data-theme="dark"] .btn-primary {
    color: var(--color-black) !important;
}

[data-theme="dark"] .points__title {
    background-color: var(--color-gray-500) !important;
}

[data-theme="dark"] .technical__option {
    color: var(--color-gray-300);
}

[data-theme="dark"] .form-control {
    background-color: transparent !important;
    color: var(--color-gray-400) !important;
}

[data-theme="dark"] .arrow-button {
    background-color: var(--color-gray-500) !important;
}

[data-theme="dark"] .compare__card__header {
    background: var(--color-gray-500) !important;
    color: var(--color-gray-200) !important;
}

[data-theme="dark"] hr {
    background: var(--color-white) !important;
}

[data-theme="dark"] .select__car__img {
    background-color: var(--color-gray-500) !important;
}

[data-theme="dark"] .btn-error {
    color: var(--color-black) !important;
}

[data-theme="dark"] .nav__menu ul {
    background: var(--color-gray-500);
}

[data-theme="dark"] .select--error {
    background: var(--body-bg-color);
}

[data-theme="dark"] .input-group-suffix {
    background: var(--color-dark-black-600) !important;
}

[data-theme="dark"] .info-data {
    background: var(--color-dark-black-600) !important;
}

[data-theme="dark"] .info__item--active {
    background: var(--color-dark-black-600) !important;
    border: none;
}

@media screen and (max-width: 768px) {
    .advert {
        background-color: var(--body-bg-color) !important;
    }
   
    .advertising__filter-btn {
        background-color: var(--body-bg-color) !important;
        color: #fff;
    }

    [data-theme="dark"] .technical__description--limited::before {
        background-image: linear-gradient(to bottom, transparent, var(--color-white) 80%) !important;
    }

    [data-theme="dark"] .technical__properties {
        background-color: var(--body-bg-color) !important;
    }

    [data-theme="dark"] .card-color-dark {
        background-color: var(--body-bg-color) !important;
    }

    [data-theme="dark"] .mobile-card {
        background-color: var(--body-bg-color) !important;
    }
    /* [data-theme="dark"] .card {
        background-color: var(--body-bg-color) !important;
    } */
    [data-theme="dark"] .item.active .item-icon {
        background-color: var(--body-bg-color) !important;
    }
}

[data-theme="dark"] .filters-page__header {
    background: #0F0F10;
}

[data-theme="dark"] .sidebar__item--active {
    background: var(--body-bg-color) !important;
}

[data-theme="dark"] .filters-page__header .nav__icon {
    background: transparent !important;
}

[data-theme="dark"] .filter-page__footer {
    background: transparent !important;
}

[data-theme="dark"] .dropdown-box__input {
    background-color: var(--body-bg-color) !important;
}

[data-theme="dark"] .history__item .history_icon {
    outline: 4px solid var(--color-white) !important;
}

[data-theme="dark"] .nav__icon {
    background: transparent !important;
}
[data-theme="dark"] .notify__banner{
    background-color: var(--color-dark-black-600) !important;
}
[data-theme="dark"] .chat__body__footer input{
    background-color: var(--color-dark-black-600) !important;
    border: 2px solid var(--color-white);

}
[data-theme="dark"] .chat-wrapper .wrapper__header{
    background: var(--color-gray-500) !important;

}
[data-theme="dark"] .chat-wrapper .wrapper__content{
    border: none;
    border-radius: 18px;
}
[data-theme="dark"] .chat-wrapper .chat__item.active{
   background: var(--color-dark-black-600);
}
[data-theme="dark"] .chats .content {
    background: var(--color-dark-black-600) !important;
 }
 [data-theme="dark"] .plan__header {
    background: var(--color-gray-500) !important;
    color: white !important;
 }
 [data-theme="dark"] .plan__footer {
    background: var(--color-gray-500) !important;
    color: white !important;
 }



 [data-theme="dark"] aside .top {
    background: var(--color-dark-black-600) !important;
 }