.container {
    width: 100%;
    padding-right: 1.625rem;
    /* 26px */
    padding-left: 1.625rem;
    /* 26px */
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.sticky-container {
    position: fixed;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (min-width: 576px) {
    .container {
        width: 560px;
        padding-right: 1rem;
        /* 16px */
        padding-left: 1rem;
        /* 16px */
    }

    .sticky-container {
        width: 560px;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .container-fluid {
        width: 560px;

    }
}

@media (max-width: 576px) {

    .container-fluid {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .sticky-container {
        padding-right: 1.5rem;
        /* 26px */
        padding-left: 1.5rem;
        /* 26px */
      
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .sticky-container {
        width: 750px;
    }

    .container-fluid {
        width: 750px;

    }
}

@media (min-width: 992px) {
    .container {
        width: 980px;
    }

    .sticky-container {
        width: 980px;
    }

    .container-fluid {
        width: 980px;

    }
}

@media (min-width: 1200px) {
    .container {
        width: 1160px;
    }

    .sticky-container {
        width: 1160px;
    }

    .container-fluid {
        width: 1170px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1264px;
    }

    .sticky-container {
        width: 1264px;
    }

    .container-fluid {
        width: 1264px;
    }
}