.container {
    width: 100%;
    padding-right: 1.625rem;
    /* 26px */
    padding-left: 1.625rem;
    /* 26px */
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (min-width: 576px) {
    .container {
        width: 560px;
        padding-right: 1rem;
        /* 16px */
        padding-left: 1rem;
        /* 16px */
    }

    .container-fluid {
        width: 560px;

    }
}

@media (max-width: 576px) {

    .container-fluid {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .container-fluid {
        width: 750px;

    }
}

@media (min-width: 992px) {
    .container {
        width: 980px;
    }

    .container-fluid {
        width: 980px;

    }
}

@media (min-width: 1200px) {
    .container {
        width: 1160px;
    }

    .container-fluid {
        width: 1170px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1264px;
    }

    .container-fluid {
        width: 1264px;
    }
}